@page
@model LataPrzestepne.Pages.Historia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LeapYears</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeapYears.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeapYears.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeapYears.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeapYears.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeapYears.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeapYears.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeapYears.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeapYears.BirthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeapYears.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeapYears.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeapYears.LeapYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeapYears.LeapYear)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="LeapYears.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
